*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
spec/.mb
test/tmp
test/version_tmp
features/support/ef.token
tmp
*.sw[op]
rerun.txt
.rspec
Gemfile.local
man/mb.1.ronn
*~
\#*
.DS_store
